.testimonials__slide {
  background-color: var(--background-slide);
  border-radius: 10px;
  padding: 1.5rem;
  width: 55rem;
  margin-top: 2rem;
}

.testimonials__profile {
  display: flex;
  align-items: center;
}

.testimonials__img {
  border-radius: 4px;
}

.testimonials__name {
  color: var(--font-color-titles);
  font-family: var(--font-qanelas);
  font-size: 1.125rem;
  margin: 0 1.3rem;
}

.testimonials__url {
  font-family: var(--font-roboto);
  color: var(--font-color-texts);
  font-size: 0.75rem;
}

.testimonials__text {
  line-height: 1.7;
  margin-top: 1rem;
  color: #d2d2d2;
}

.splide__arrow {
  background: var(--background-gold) !important;
}

.splide__pagination__page.is-active {
  background: var(--background-gold) !important;
}
/* MATCH MEDIA 1180px */

.testimonials__container {
  display: flex;
  align-items: center;
}

.testimonials__container div {
  margin: 3rem 1rem 0 1rem;
}

.testimonials__container div:first-child {
  margin-left: 0;
}

@media screen and (max-width: 37.5rem) {
  .testimonials__container {
    flex-direction: column;
  }
  .testimonials__slide {
    width: auto;
  }
  .testimonials__container div:last-child {
    margin-left: 0;
  }
}
